* {
	letter-spacing: -0.065em;
	font-family: 'Noto Sans KR', sans-serif;
}

* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	background-color: #ffffff;
	overflow-x: hidden;
	height: 100%;
}



/*---------팝업-----------*/

/**
 * Simple fade transition,
 */
.mfp-fade.mfp-bg {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}




/*--------스와이프----------*/


.slider {
	width: 100%;
	height: 50%;

}


.slick-slide {
	margin: 0px 5px;
	height: 220px;
	width: 320px;
}

.slick-slide div {
	height: 100%;
}


.slick-next {
	display: none;
}

.slick-prev {
	display: none;
}

.slick-dotted.slick-slider {
	margin-bottom: 0;
}

@media(min-width:1200px) {
	.slick-slide {
		margin: 0px 20px;
		height: 100%;
	}

	.slider {
		width: 100%;
		height: 70%;
		min-height: 540px;
	}

	.slick-slide {
		margin: 0px 20px;
		height: 540px;
		width: 1000px;
	}

	.slick-next {
		right: 18%;
		display: block;
		background-image: url(../img/icon/bottom_arrow_blue_right.svg);
		background-repeat: no-repeat;
		background-size: cover;
		width: 30px;
		height: 30px;
		z-index: 9;
	}

	.slick-next::before {
		content: "";
	}

	.slick-prev::before {
		content: "";
	}

	.slick-prev {
		left: 18%;
		display: block;
		background-image: url(../img/icon/bottom_arrow_blue_left.svg);
		background-repeat: no-repeat;
		background-size: cover;
		width: 30px;
		height: 30px;
		z-index: 9;
	}

	.slick-dots {
		bottom: 0;
	}
}

.slick-slide {
	transition: all ease-in-out .3s;
	opacity: .2;
}

.slick-active {
	opacity: .5;
}

.slick-current {
	opacity: 1;
}











/*---------표 서식-----------*/


.tg {
	border-collapse: collapse;
	border-spacing: 0;
}


.tg .tg-baqh {
	text-align: center;
	vertical-align: top
}

.tg .tg-0lax {
	text-align: left;
	vertical-align: top
}

.desktop_ta {
	display: none;
}

.mobile_ta {
	display: table;
}

@media(min-width:1200px) {
	.desktop_ta {
		display: table;
	}

	.mobile_ta {
		display: none;
	}
}

/*---------표 스타일-----------*/
.table_size {
	border-bottom: 2px solid #e0e0e0;
	width: 100%;
}

.btn_li {
	margin: 20px 0;
}


.table_title {
	padding: 20px;
	font-size: 18px;
	font-weight: 500;
	color: #333;
	border-bottom: 2px solid #035fc8;
}

.table_text {
	padding: 25px;
	font-size: 15px;
	font-weight: 200;
	line-height: 23.5px;
	color: #333;
	border-bottom: 1px solid #E0E0E0;
	text-align: center;
	vertical-align: middle;
}

.table_text_title {
	font-size: 16px;
	text-align: left;
	padding: 10px;
	border-bottom: 1px solid #E0E0E0;
	font-weight: 300;
	line-height: 23.5px;
	color: #333;
	vertical-align: middle;
	position: relative;
}

.table_text_title .coment {
	display: inline-block;
	font-size: 15px;
	margin-top: 10px;
}

.table_text_title .text {
	display: inline-block;
	width: 100%;
}

@media(min-width:1200px) {
	.table_title {
		padding: 20px;
		font-size: 20px;
		font-weight: 500;
		color: #333;
		border-bottom: 2px solid #035fc8;
	}

	.table_text_title {
		position: relative;
		font-size: 18px;
		text-align: left;
		padding: 25px;
		border-bottom: 1px solid #E0E0E0;
		font-weight: 300;
		line-height: 23.5px;
		color: #333;
		vertical-align: middle;
	}

	.table_text_title .coment {
		display: inline-block;
		font-size: 15px;
		margin-top: 0;
	}

	.table_text_title .text {
		display: inline-block;
		width: auto;
	}

}



/*---------버튼------------*/


.btn {
	border-radius: 40px;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
	display: inline-block;
	padding: 0 25px;
	text-align: center;
	color: #fff;
	position: relative;
	background: #25c;
	transition: 0.3s;

}


.btn_lg {
	border-radius: 40px;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
	display: inline-block;
	padding: 0 40px;
	background: #25c;
	text-align: center;
	color: #fff;
	width: 100%;
}

.btn_sm {
	font-size: 15px;
	border-radius: 40px;
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
	display: inline-block;
	padding: 0 20px;
	background: #25c;
	text-align: center;
	color: #fff;
}

.btn_orange {
	background: #f90;
}

.btn_yellow {
	background: #F9E000;
	color: #1E1E1E;
}

.btn_blue {
	background-color: #035fc8;
}

.btn_white {
	border: 1px solid #035fc8;
	color: #333;
	background: #fff;
}

.btn_gray {
	background-color: #B6B6B6;
	color: #fff
}

.btn_oran {
	background-color: #F79A00;
	color: #fff
}



/*--------버튼--------*/



.button {
	padding: 13px 20px;
	font-size: 14px;
	color: #fff;
	background-color: #035fc8;
	border-radius: 31px;
	font-weight: 400;
}

.button_sm {
	font-size: 15px;
	font-weight: 200;
	color: #fff;
	padding: 10px 20px;
	background-color: #035FC8;
	border-radius: 21px;
	position: absolute;
}

.button_login a {
	display: inline-block;
	width: 100%;
	text-align: center;
	padding: 21px 0;
	font-size: 16px;
	color: #aaa;
	font-weight: 500;
	background: #f3f2f1;
	margin: 0;
}


.button_login a:hover {
	font-size: 16px;
	color: #888;
	font-weight: 600;
	background: #e6e5e5;
}

.button_login.on a {
	background: #035fc8;
	color: #fff !important;
	border: 0 none !important;
}

.btn_faq a {
	display: inline-block;
	text-align: center;
	padding: 20px 25px;
	font-size: 14px;
	color: #aaa;
	font-weight: 500;
	background: #f3f2f1;
	margin: 0;
}


.btn_faq a:hover {
	font-size: 14px;
	color: #888;
	font-weight: 600;
	background: #e6e5e5;
}

.btn_faq.on a {
	background: #035fc8;
	color: #fff !important;
	border: 0 none !important;
}



@media(min-width:1200px) {
	.button {
		padding: 15px 35px;
		font-size: 16px;
		color: #fff;
		background-color: #035fc8;
		border-radius: 31px;
		font-weight: 400;
	}

	.btn_faq a {
		display: inline-block;
		width: 120px;
		text-align: center;
		padding: 15px 0;
		font-size: 16px;
		color: #aaa;
		font-weight: 500;
		background: #f3f2f1;
		margin: 0;
	}


	.btn_faq a:hover {
		font-size: 16px;
		color: #888;
		font-weight: 600;
		background: #e6e5e5;
	}

	.btn_faq.on a {
		background: #035fc8;
		color: #fff !important;
		border: 0 none !important;
	}


}

/*---------input------------*/

input {
	border: none;
	background: none;
}

input:focus {
	outline: none;
}


.input_re:focus {
	border: 1px solid #035fc8;
}

.input_join:focus {
	border: 1px solid #035fc8;
}

.input_join_sm:focus {
	border-bottom: 2px solid #035fc8;
}

.input_join_popup:focus {
	border: 1px solid #035fc8;
}

input::placeholder {
	font-size: 15px;
}

.input_re {
	width: 100%;
	box-sizing: border-box;
	padding: 15px 0 15px 10px;
	font-weight: 400;
	font-size: 16px;
	letter-spacing: 0.2px;
	color: #333;
	border: 1px solid #979797;
}

.input_join {
	width: 100%;
	box-sizing: border-box;
	font-weight: 400;
	font-size: 16px;
	letter-spacing: 0.2px;
	color: #333;
	padding: 15px 15px;
	border: 1px solid #979797;
}

.input_join_sm {
	width: 100%;
	box-sizing: border-box;
	font-weight: 400;
	font-size: 16px;
	letter-spacing: 0.2px;
	color: #333;
	padding: 0 0 5px 0;
	border-bottom: 2px solid #979797;

}

.input_join_popup {
	width: 100%;
	box-sizing: border-box;
	font-weight: 400;
	font-size: 16px;
	letter-spacing: 0.2px;
	color: #333;
	padding: 10px 0 10px 10px;
	border: 1px solid #979797;

}


@media(min-width:1200px) {
	.input_re {
		padding: 20px 0 20px 20px;
		font-weight: 400;
		font-size: 16px;
		letter-spacing: 0.2px;
		color: #333;
		border: 0px;
		border-bottom: 2px solid #979797;
		margin-bottom: 0;
	}

	.input_join {
		width: 100%;
		box-sizing: border-box;
		font-weight: 400;
		font-size: 16px;
		letter-spacing: 0.2px;
		color: #333;
		padding: 10px 0 10px 15px;
		border: 0px;
		border-bottom: 2px solid #979797;

	}

	.input_join_sm {
		width: 100%;
		box-sizing: border-box;
		font-weight: 400;
		font-size: 16px;
		letter-spacing: 0.2px;
		color: #333;
		padding: 0 0 5px 0;
		border: 0;
		border-bottom: 2px solid #979797;

	}

	.input_join_popup {
		width: 100%;
		box-sizing: border-box;
		font-weight: 400;
		font-size: 16px;
		letter-spacing: 0.2px;
		color: #333;
		padding: 0 0 5px 10px;
		border: 0;
		border-bottom: 2px solid #979797;

	}

	.input_re:focus {
		border: 0;
		border-bottom: 2px solid #035fc8;
	}

	.input_join:focus {
		border: 0;
		border-bottom: 2px solid #035fc8;
	}

	.input_join_sm:focus {
		border: 0;
		border-bottom: 2px solid #035fc8;
	}

	.input_join_popup:focus {
		border: 0;
		border-bottom: 2px solid #035fc8;
	}




}


/*---------radio------------*/

.checkbox-wrap {
	cursor: pointer;
}

.checkbox-wrap .check-icon {
	display: inline-block;
	width: 25px;
	height: 25px;
	background: url(../img/icon/check_on.svg) left center no-repeat;
	vertical-align: middle;
	transition-duration: .2s;
}

.checkbox-wrap input[type=checkbox] {
	display: none;
}

.checkbox-wrap input[type=checkbox]:checked + .check-icon {
	background-image: url(../img/icon/check_none.svg)
}


.checkbox-wrap2 {
	cursor: pointer;
}

.checkbox-wrap2 .check-icon {
	display: inline-block;
	width: 16px;
	height: 18px;
	background: url(../img/icon/cheakbox.svg) left center no-repeat;
	vertical-align: middle;
	transition-duration: .2s;
}

.checkbox-wrap2 input[type=checkbox] {
	display: none;
}

.checkbox-wrap2 input[type=checkbox]:checked + .check-icon {
	background-image: url(../img/icon/cheakbox_off.svg);
}

.checkbox-wrap3 {
	cursor: pointer;
}

.checkbox-wrap3 .check-icon {
	display: inline-block;
	width: 25px;
	height: 25px;
	background: url(../img/icon/check_blue%20_off.svg) left center no-repeat;
	vertical-align: middle;
	transition-duration: .2s;
}

.checkbox-wrap3 input[type=checkbox] {
	display: none;
}

.checkbox-wrap3 input[type=checkbox]:checked + .check-icon {
	background-image: url(../img/icon/check_blue_on.svg);
}

/*---------텍스트------------*/
body {
	overflow-x: hidden;

}

.section_h2 {
	font-size: 30px;
	font-weight: 600;
	line-height: 30px;
	color: #035FC8;
	padding-bottom: 10px;
	line-height: 42px;
}

.section_h3 {
	font-size: 18px;
	font-weight: 500;
	line-height: 30px;
	color: #333;
	padding-bottom: 10px;
}

.section_p {
	font-size: 18px;
	font-weight: 300;
	line-height: 25px;
	color: #333;
	padding-bottom: 40px;
}

.section_sub_h2 {
	font-size: 22px;
	font-weight: 500;
	line-height: 32px;
	color: #fff;
	padding-bottom: 10px;
}

.sub_main01_text span {
	display: none;
}

.section_h2_01 {
	font-size: 30px;
	font-weight: 600;
	line-height: 35px;
	color: #035FC8;
	padding-bottom: 10px;
}

.section_h3_01 {
	font-size: 18px;
	font-weight: 500;
	line-height: 30px;
	color: #333;
	padding-bottom: 20px;
}

.section_p_01 {
	font-size: 18px;
	font-weight: 200;
	line-height: 31.5px;
	color: #333;
	padding-top: 20px;

}

@media(min-width:1200px) {
	.section_h2 {
		font-size: 40px;
		font-weight: 700;
		line-height: 50px;
		color: #035FC8;
		padding-bottom: 10px;
	}

	.section_h3 {
		font-size: 25px;
		font-weight: 500;
		line-height: 32.5px;
		color: #333;
		padding-bottom: 20px;
	}

	.section_p {
		font-size: 20px;
		font-weight: 200;
		line-height: 31.5px;
		color: #333;
		padding-bottom: 40px;
	}

	.section_sub_h2 {
		font-size: 40px;
		font-weight: 500;
		line-height: 52px;
		color: #fff;
		padding-bottom: 10px;
	}

	.section_sub_p {
		font-size: 20px;
		font-weight: 200;
		line-height: 27px;
		color: #fff;
		padding-bottom: 40px;
	}


	.section_h2_01 {
		font-size: 40px;
		font-weight: 700;
		line-height: 50px;
		color: #035FC8;
		padding-bottom: 15px;
	}

	.section_h3_01 {
		font-size: 25px;
		font-weight: 500;
		line-height: 32.5px;
		color: #333;
		padding-bottom: 30px;
	}

	.section_p_01 {
		font-size: 20px;
		font-weight: 200;
		line-height: 31.5px;
		color: #333;
		padding-top: 25px;
		;
	}

	.sub_main01_text span {
		display: block;
	}
}


/*--------f_menu메뉴바------------*/
.f_menu {
	position: fixed;
	bottom: 30px;
	right: 30px;
	z-index: 99;
	width: auto;
	display: block;
}

.f_menu ul li {
	position: relative;
}

.f_menu ul li #icon_first {
	transition: 0.3s;
	background: #FFCE0C;
	border-radius: 50px;
}

#icon_fitst {
	z-index: 2;
}

.hide_icon {
	position: absolute;
	bottom: 0;
}

.hide_icon .ms {
	position: absolute;
	bottom: 0;
	opacity: 1;
	z-index: -1;
	transition: 0.3s;
}

.hide_icon .hd {
	position: absolute;
	bottom: 0;
	opacity: 1;
	z-index: -1;
	transition: 0.3s;
}



@media(min-width:1200px) {
	.f_menu {
		position: fixed;
		background-color: #FFCE0C;
		border-radius: 10px;
		bottom: 50px;
		padding: 20px 30px;
		right: 50px;
		z-index: 99;
		width: 210px;
		height: 234px;
		display: block;
		text-align: center;
		-webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 15, 0.45);
		-moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 15, 0.45);
		box-shadow: 0px 2px 4px 0px rgba(0, 0, 15, 0.45);
	}


	.f_menu .call_text {
		font-family: 'Nanum Square';
		color: #333;
		font-weight: 600;
		font-size: 31px;
		margin: 15px 0;
		text-align: left;
	}


	.f_menu .call_text p {
		font-size: 15px;
		font-weight: 600;
		text-align: left;
		padding-top: 5px;

	}

	.fl_btn {
		background-color: #232323;
		color: #fff;
		text-align: center;
		font-size: 16px;
		padding: 20px 0;
		width: 100%;
		border-radius: 5px;
	}

}

/*---------네비메뉴바------------*/





.nav_menu {
	border: 1px solid #035fc8;
	border-top: none;
	background: #fff;
}

.home_btn {
	background-color: #035fc8;
	height: 45px;
	text-align: center;
	padding-top: 10px;
}


.home_hover {
	position: relative;
}

.home_btn {
	background-color: #035fc8;
	height: 45px;
	text-align: center;
	padding-top: 10px;
}

.sub_menu_hide {
	visibility: hidden;
	position: absolute;
	opacity: 0;
	top: 44px;
	left: 0;
	width: 100%;
	z-index: 5;
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
	padding: 10px;
	transition: all 0.3s;
	background: #fff;
}

.sub_menu_hide ul {}

.sub_menu_hide ul li {
	padding: 15px 0;
}

.home_text_01 {
	height: 45px;
	border: 1px solid #035fc8;
	padding: 13px 10px 13px 10px;
	border-bottom: none;
	border-left: none;
	border-top: none;
}

.home_text_02 {
	height: 45px;
	border-right: 1px solid #035fc8;
}

.home_title {}

.home_text_02 .home_title > a {
	display: block;
	position: relative;
	height: 45px;
	line-height: 45px;
	padding: 0 10px;
}

.home_title > a:after {
	content: "";
	background-image: url(../img/icon/bottom_arrow_blue_down.svg);
	background-position: center center;
	background-size: 16px 16px;
	width: 16px;
	height: 16px;
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -10px;
	transform: rotate3d(0, 0, 1, -90deg);
	transition: all 0.3s;
}

.home_hover:hover .home_title > a:after {
	transform: rotate3d(0, 0, 1, 0)
}

.home_hover:focus .sub_menu_hide,
.home_hover:hover .sub_menu_hide {

	height: auto;
	opacity: 1;
	visibility: visible;

}

@media(min-width:1200px) {
	.home_btn {
		background-color: #035fc8;
		width: 45px;
		height: 45px;
		text-align: center;
		padding-top: 10px;
	}
}

/*----------공통------------*/

.gnb {
	position: fixed;
	width: 100%;
	z-index: 999;
}

.nav_bg {
	background-color: #fff;
	position: relative;
	width: 100%;
}

.mobile_gnb {
	padding: 20px 0
}

.mobile_gnb_btn {
	display: block;
	padding-top: 5px;
}


.mobile_gnb_logo {
	display: block;
}

.desk_gnb_logo {
	display: none;
}

.desk_gnb_text {
	display: none;
}

.desk_gnb_btn {
	display: none;
}

.mobile_hide_menu {
	position: absolute;
	width: 100%;
	height: auto;
	right: -100%;
	transition: 0.3s;
	top: 0;
}

.nav_center {
	position: relative;
}



.join_text li {
	display: inline-block;
	padding-right: 20px;
}

.mobile_hide_title {
	background-color: #035FC8;
	padding: 26px 20px;
}

.mobile_hide_text .join_text {
	font-size: 16px;
	color: #fff;
	font-weight: 300;
}

.mobile_hide_list {
	background-color: #fff;
	padding: 10px 20px 20px 20px;
	;
}

.mobile_hide_list ul li p {
	font-size: 17px;
	font-weight: 500;
	margin-bottom: 20px;
	margin-top: 25px;
}

.mobile_hide_list ul li ul {
	font-size: 16px;
	font-weight: 300;
}

.mobile_hide_list ul li ul li {
	padding: 10px 10px
}


@media(min-width:1200px) {

	.gnb {
		position: fixed;
		width: 100%;
		z-index: 999;
	}


	.mobile_hide_menu {
		display: none;
	}

	/*----------모바일 화면------------*/
	.mobile_gnb_logo {
		display: none;
	}

	.mobile_gnb_btn {
		display: none;
	}

	.mobile_gnb {
		padding: 0;
	}

	/*----------데스크 화면------------*/
	.desk_gnb_logo {
		display: block;
		margin-right: 190px;
		margin-top: 5px;
	}

	.desk_gnb_text {
		display: block;
		color: #333;
		font-size: 20px;
		font-weight: 400;
	}

	.desk_gnb_text ul li {
		display: block;
		float: left;
		width: 161px;
		position: relative;
	}

	.desk_gnb_text ul li p {
		position: relative;
	}

	.desk_gnb_text ul li p::after {
		content: "";
		display: block;
		margin-top: 5px;
		width: 0;
		border-bottom: 2px solid #333;
		position: absolute;
		transition: 0.3s;
	}

	.desk_gnb_text ul li:hover p::after {
		width: 100%;
	}


	.desk_gnb_btn {
		display: block;
		color: #333;
		font-size: 14px;
	}

	.desk_gnb_btn ul li {
		display: inline-block;
		padding-left: 15px;
		vertical-align: middle;
	}

	.desk_gnb_btn ul li:last-child::before {
		content: "";
		display: inline-block;
		border-left: 1px solid #333;
		height: 16px;
		padding-right: 15px;
	}

	.desk_gnb_btn ul li:last-child {
		padding: 25px 0;
	}

	.desk_gnb_btn ul li:first-child {
		padding-right: 15px;
	}



	/*----------제이쿼리 연슴------------*/

	.desk_gnb_text ul .layout {
		text-align: center;
		position: relative;
		padding: 25px;
		0
	}


	.desk_gnb_text ul li .hide_layout li {
		display: inline-block;
		padding-right: 0;
		padding-bottom: 10px;
	}

	.desk_gnb_text .hide_layout {
		position: absolute;
		text-align: center;
		display: block;
		width: 100%;
		top: 70px;
		left: 0;
		padding: 27px 0;
		background-color: rgba(0, 0, 0, 0.6);
		border-bottom: 5px solid #035FC8;


	}

	.desk_gnb_text .hide_layout li {
		display: inline-block;
		font-size: 16px;
		line-height: 22px;
		padding-bottom: 10px;
		padding-left: 0;

	}

	.desk_gnb_text .hide_layout li:last-child {
		padding: 0;
	}

}

/*-------------*/
.all_sub_menu {
	width: 100%;
	height: 240px;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.9);
	top: 70px;

}

.all_sub_menu_layout {
	padding: 20px 0 0 411px
}

.all_sub_menu .all_sub_menu_layout ul {
	display: inline-block;
	text-align: center;
	width: 161px;
}

.all_sub_menu .all_sub_menu_layout ul li {
	font-size: 16px;
	line-height: 22px;
	padding-bottom: 10px;
	padding-left: 0;
	color: #000;
	position: relative;
	transition: 0.3s;
	font-weight: 400;

}

.all_sub_menu .all_sub_menu_layout ul li p {
	position: relative;
}

.all_sub_menu .all_sub_menu_layout ul li p::after {
	content: "";
	display: block;
	margin-top: 3px;
	width: 0;
	border-bottom: 2px solid #035FC8;
	position: absolute;
	transition: 0.3s;
}

.all_sub_menu .all_sub_menu_layout ul li:hover p::after {
	width: 100%;
}

.all_sub_menu .all_sub_menu_layout ul li:hover {
	color: #035FC8;
}
}




/*----------하단 화면------------*/

.footer {
	padding: 10px 10px;
	width: 100%;
}

.footer_bg {
	background-color: #eaeaea;
	width: 100%;
}

.footer_text_mobile {
	padding: 10px;
	10px;
	width: 100%;
	text-align: center;
}

.footer_text_mobile .line_01 {
	width: 100%;
	margin-bottom: 30px;
}

.footer_text_mobile .line_01 li {
	display: inline-block;
	text-align: center;
	font-size: 15px;
	;
	padding: 0 10px;
}

.footer_text_mobile .line_01 li:first-child {
	text-align: left;
}

.footer_text_mobile .line_01 li:last-child {
	text-align: right;
}

.footer_text_mobile .line_02 {
	width: 100%;
}

.footer_text_mobile .line_02 li {
	display: inline-block;
	text-align: center;
	font-size: 15px;
	;
	padding: 0 10px;
}

.footer_text_mobile .line_02 li:first-child {
	text-align: left;
}

.footer_text_mobile .line_02 li:last-child {
	text-align: right;
}




.footer_text_h2_mobile h3 {
	font-size: 10px;
	font-weight: 200;
	line-height: 20px;
	letter-spacing: 0.1px;
	text-align: center;
}

.footer_text_mobile h2 {
	font-size: 23px;
	font-weight: 500;
	letter-spacing: 1px;
	text-align: center;
	margin: 40px 0 15px 0;
}

.footer_text_mobile h2 span {
	font-weight: 700;
	font-size: 23px;
	color: #EEA329;
	letter-spacing: 3px;
	padding-left: 10px;
	font-family: 'Nanum Square';
}

.footer_text {
	display: none;
}

@media(min-width:1200px) {

	.footer_text_mobile {

		display: none;
	}

	.footer_bg {
		padding: 50px 0 40px 0;
	}


	.footer_text {
		font-size: 14px;
		font-weight: 500;
		color: #333;
		display: block;
	}

	.footer_text ul li {
		display: inline-block;
		padding-right: 80px;
	}

	.footer_text ul li:last-child {
		float: right;
		font-size: 18px;
		font-weight: 400;
	}

	.footer_text ul li:last-child span {
		font-weight: 500;
		color: #EEA329;
	}

	.footer_text ul {
		padding-bottom: 20px;
	}

	.footer_text_h2 h2 {
		font-size: 13px;
		font-weight: 200;
		line-height: 20px;
	}
}



/*----스위치-----*/

.switch {
	position: relative;
	display: inline-block;
	width: 56px;
	height: 27px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}
